.header {
    /* border-radius: 5vh; */
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-color: white;
    border-radius: 0%;
    zoom: normal;
    width: 100%;
    max-zoom: 10px;
}
.border {
    border-radius: 0px;
}

.center-text {
    position: absolute;
    top: 45%;
    left: 3%;
    font-size: 5vw;
    color:white;
    text-shadow: 5px 5px 10px black;
}

.center-button {
    position: absolute;
    top: 70%;
    left: 3%;
    font-size: 3vw;
    border-radius: 6vh;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-top: 10px;
    box-shadow: 5px 5px 10px lightskyblue;
}
.center-button:hover{
    transform: scale(1.01);
}

.shadow-text {
    text-shadow: 5px 5px 10px black;
    font-size: 6vw;
}

/* City */
.city-img{
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px ;  
    height: 30vh;
}

.city-jkt {
    color: white;
    background-color:orangered;
    border:unset;
    border-radius: 5px;
}
.city-mks {
    color: white;
    background-color:brown;
    border:unset;
    border-radius: 5px;
}
.city-badung {
    color: white;
    background-color:chocolate;
    border:unset;
    border-radius: 5px;
}
.city-perugia {
    color: white;
    background-color:goldenrod;
    border:unset;
    border-radius: 5px;
}
.cursor{
    cursor: pointer;
}
.cursor:hover{
    cursor: pointer;
    color: black;
    transform: scale(1.01) ;
}