.line{
    border: 2px solid rgb(0, 0, 0);
    color: black;

}

.right-text {
    justify-content: end;
    text-align: end;
    align-items: flex-end;
}

.right-btn {
    width: 100%;

}